.calculator {
	background-color: black;
	height: 465px;
	width: 210px;
	padding: 15px;
	padding-left: 30px;
	padding-bottom: px;
}

.display {
	background-color: rgba(150, 150, 150, 0.75);
	padding: 15px;
	width: 159px;
	text-align: right;
	font-size: 30px;
	border-radius: 15px;
}

button {
	padding: 15px;
	width: 45px;
	height: 45px;
	margin-top: 7.5px;
	background-color: rgba(225, 225, 225, 0.75);
	color: black;
	font-size: 15px;
	border-radius: 15px;
}

button:hover {
	cursor: pointer;
	background-color: rgb(180, 180, 180);
}

button:active {
	background-color: rgb(135, 135, 135);
}
